body {
  font-family: 'Playfair Display', Arial, sans-serif;
}

@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .navbar-brand {
    width: 150px;
  }
  .navbar-default {
    background-color: rgba(255,255,255,0.6);
    border: 0;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 1px solid #e0e0e0;
    -webkit-backdrop-filter: blur(10px);
  }
  }
  
  @media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  .navbar-brand {
    width: 220px;
  }
  .navbar-default {
    background-color: transparent;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 0;
  }
  .page-home .background-container {
    padding-top: 0;
  }
  }
  
  @media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  }
  
  @media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  }

.navbar-default .navbar-nav>li>a {
  color: rgb(105, 151, 209);
  font-size: 18px;
  font-weight: 400;
  padding-top: 30px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active {
  color: #fff;
}
.navbar-brand {
  height: auto;
}
.navbar-brand>img {
  height: 100%;
  width: 100%;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  margin-top: 15px;
}

.black-background .img-responsive {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
}

.background-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: right; */
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: flex-end;
}

.background-container.black-background {
  overflow: hidden;
  padding-top: 6rem;
  padding-left: 2rem;
}

h1 {
  color: rgb(2, 34, 76);
  font-size: 3rem;
  text-align: right;
  font-weight: 100;
  margin-bottom: 35px;
  margin-top: 0;
}

p {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #666666;
  margin-bottom: 20px;
  text-align: right;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: 200;
}

.page-home p {
  font-size: 1.4rem;
  font-weight: 200;
}

a {
  transition: ease-in 0.3s;
}

.btn-default {
  background-color: rgb(105, 151, 209);
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  max-width: 250px;
  font-family: 'Source Sans Pro', Arial;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0;
}

.btn-default:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}

.mobile-zebra {
  max-width: 200px;
  margin: 0 auto 10px;
}

.fixed-background-container {
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.fixed-background.black-background {
  background-color: #000;
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}
.page-why {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-why p {
  margin-top: 30px;
  text-align: center;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-color: white;
}
.page-why h1 {
  text-align: left;
}